* {
    font-family: Arial, sans-serif;
}

.clima-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;

//   background: linear-gradient(to bottom, #87ceeb, #f0f8ff); /* céu azul */
}

.content {
    // background: radial-gradient(circle, 
    //     #ffff00 0%,     /* Amarelo */
    //     #ffa500 25%,    /* Laranja */
    //     #ff4500 50%,    /* Vermelho alaranjado */
    //     #ff0000 75%,    /* Vermelho */
    //     #8b0000 100%    /* Vermelho vinho */
    // );
    backdrop-filter: blur(10px);
    padding: 40px;
    border-radius: 50px;
    border: 2px solid;
    border-color: #D3AF37;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);

    &:hover {
      position: relative;
      cursor: pointer;
      transform: scale(1.1);
      left: -5px;
      transition: 0.6s ease;
    }
}

// .cloud-icon {
//   font-size: 6rem; /* tamanho grande para a nuvem */
//   margin-bottom: 20px;

//   &:hover {
//     transform: scale(1.5);
//     transition: transform 0.3s;
//     cursor: pointer;
//   }
// }

.temp {
  display: flex;
  color: #2F4F4F;
  font-size: 1.6rem;
  position: relative;
  top: 1rem;
  font-weight: bold;
  justify-content: flex-start;
  list-style: 1;
  text-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}

.desc {
  text-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  color: #2F4F4F;
  font-size: 1.1rem;
  position: relative;
  top: -8px;
  font-weight: bold;
  list-style: 1;
  display: flex;
  justify-content: flex-end;
}

.app-name {
  font-size: 4rem;
  margin: 0;
  color: #D3AF37;
}

.tagline {
  font-size: 1.2rem;
  color: #D3AF37;
  margin-top: 10px;
}

.btn-redirect {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: calc((100% + 220px) - 100%);
  border-radius: 20px;
  border-color: #D3AF37;
  font-size: 1.1rem;
  top: -13rem;
  left: 15.5rem;
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  color: #D3AF37;
  background-color: transparent;

  &:hover {
    cursor: pointer;
    transform: scale(1.2);
    transform: translateY(-5px);
    transition: all 0.2s;
  }
}

// .button-51 {
//   margin-top: 5.5rem;
//   background-color: transparent;
//   border: 1px solid #266DB6;
//   box-sizing: border-box;
//   color: #00132C;
//   font-family: "Avenir Next LT W01 Bold",sans-serif;
//   font-size: 16px;
//   font-weight: 700;
//   line-height: 24px;
//   padding: 16px 23px;
//   position: relative;
//   text-decoration: none;
// }

// .button-51:hover,
// .button-51:active {
//   outline: 0;
// }

// .button-51:hover {
//   background-color: transparent;
//   cursor: pointer;
// }

// .button-51:before {
//   background-color: #D5EDF6;
//   content: "";
//   height: calc(100% + 3px);
//   position: absolute;
//   right: -7px;
//   top: -9px;
//   transition: background-color 300ms ease-in;
//   width: 100%;
//   z-index: -1;
// }

// .button-51:hover:before {
//   background-color: #6DCFF6;
// }

// @media (min-width: 768px) {
//   .button-51 {
//     padding: 16px 32px;
//   }
// }
